/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
    font-family: "Inter";
    src: url("Inter-Variable.woff2") format("truetype-variations");
    font-weight: 400 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PressStart2P";
    src: url("PressStart2P-Regular.woff") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}