/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--font-main), serif;
    font-variation-settings: "wght" var(--card-text-wght);
    background-image: var(--page-background);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: var(--container-width);
    margin-inline: auto;
}

.header {
    min-height: 327px;
    max-height: 368px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 25px 0;
    border: 2px solid var(--main-color);
}

.header__title {
    font-family: var(--font-accent), serif;
}

.header__subtitle {
    font-family: var(--font-main), serif;
}
