/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--font-main), serif;
    font-variation-settings: "wght" var(--card-text-wght);
    background-image: var(--page-background);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-block: var(--page-block-padding);
}

.container {
    width: var(--container-width);
    margin-inline: auto;
}

.header {
    min-height: 327px;
    max-height: 368px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem) 0 25px 0;
    border: var(--border);
    padding-block: var(--header-padding-block);
    gap: 20px;
    margin-bottom: 98px;

}

.header__title {
    font-family: var(--font-accent), serif;
    font-size: var(--title-size);
    text-transform: uppercase;
}

.header__subtitle {
    font-family: var(--font-accent), serif;
    font-size: var(--subtitle-size);
    text-transform: uppercase;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.card {
    background-color: var(--bg-color);
    border: var(--border);
    font-family: var(--font-main), serif;
}

.card__title {
    font-variation-settings: "wght" var(--card-title-wght);
    font-size: var(--card-font-size);
    padding: 4px 10px;
}

.card__image-container {
    position: relative;
    border-block: var(--border);
}

.card__image {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    object-position: center;
}

.image-watermark {
    position: absolute;
    top: 25px;
    right: 25px;
    opacity: 0.5;
    color: var(--main-color);
    font-family: var(--font-accent), serif;
    font-weight: 400;
    font-size: 14px;
    text-shadow: 0 0 1px var(--bg-color);
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--bg-color)
}

@supports (
  (
      (text-stroke: 1px var(--bg-color)) or
        (-webkit-text-stroke: 1px var(--bg-color))
    )
    and (mix-blend-mode: hard-light)
) {
    .image-watermark {
        text-shadow: none;
        -webkit-text-stroke: 1px var(--bg-color);
        text-stroke: 1px var(--bg-color);
        mix-blend-mode: hard-light;
    }
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
    font-size: var(--card-font-size);
    line-height: 21px;
}

.card__buttons {
    display: flex;
    align-items: flex-start;
    justify-content: end;
}

.card__icon-button {
    border: none;
    background-color: transparent;
    max-height: 24px;
}

.button {
    font-family: var(--font-accent), serif;
    font-size: var(--btn-font-size);
    padding: 9px 17px;
    background-color: var(--bg-color);
    border: var(--border);
    line-height: 90%;
    transition: box-shadow 0.3s ease;
    position: relative;
    cursor: pointer;
    overflow: hidden; /* нужно для translate или scale псевдоэлемента */
    color: var(--main-color);
}

.button svg,
.button__text {
    color: white;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference; /* иконка и текст меняют цвет при overlay */
}

.button:after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--main-color);
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    z-index: 0;
}

.button:focus {
    outline: none;
    box-shadow: 2px 2px 0 var(--main-color);
}

.button:hover:after {
    transform: scaleX(1);
}


.card__like-button {
    width: 130px;
    min-height: 38px;
}

.save-btn {
    width: 335px;
    height: 55px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.save-icon {
    width: 21px;
}

.dialog {
    width: var(--dialog-width);
    padding: 30px;
    border: var(--border);
}

.dialog::backdrop {
    background: #000;
    opacity: 0.75;
}

.dialog__block {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.dialog-icon {
    width: 39px;
    height: 39px;
    flex-shrink: 0;
}

.dialog__text {
    font-family: var(--font-accent), serif;
}

.dialog__button {
    width: 100%;
    text-transform: uppercase;
}

/*filters*/
.blur {
    filter: blur(5px);
}

.hue-rotate {
    animation: filter-image 3s linear infinite;
    filter: hue-rotate(0deg);
}

.contrast {
    filter: contrast(50%);
}

.saturation {
    filter: saturate(50%);
}

.sepia {
    filter: sepia(30%);
}

.invert {
    filter: invert(10%);
}

.brightness {
    filter: brightness(90%);
}

.opacity {
    filter: opacity(50%);
}

.filter {
    filter: brightness(1.3) contrast(1.5) saturate(200%) hue-rotate(200deg)
}