/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --font-main: "Inter", sans-serif;
    --font-accent: "PressStart2P", fantasy, sans-serif;
    --title-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
    --subtitle-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
    --card-text-wght: 410;
    --card-title-wght: 715;
    --card-font-size: 18px;
    --page-background: repeating-linear-gradient(
            to right,
            #d3d3d3 0,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
    ),
    repeating-linear-gradient(
            to bottom,
            #d3d3d3 0,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
    ),
    linear-gradient(
            to bottom,
            #e7e7e7 0%,
            #e7e7e7 0.01%,
            #1a1a1a 100%
    );
    --container-width: clamp(375px, 100vw, 700px);
    --main-color: #000;
}